<div class="container bg-secondary ">
    <div class="card-body  bg-light rounded mt-2">
        <h3 class="">Estabelecimentos: </h3>
        <br>
        <div class="row ">
            <div class="col d-flex justify-content-center">
                <a href="/usuario/estabelecimentos">
                    <button type="submit" class="btn btn-light">
                        <img src="Estabelecimentos.png" style="width: 30%; height: auto;">
                        <h5>Estabelecimentos cadastrados</h5>
                    </button>
                </a>
            </div>
            <div class="col d-flex justify-content-center">
                <a href="/usuario/estabelecimentos/add">
                    <button type="submit" class="btn btn-light">
                        <img src="Novo_Estabelecimento.png" style="width: 30%; height: auto;">
                        <h5>Novo estabelecimento</h5>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="card-body  bg-light rounded mt-2">
        <h3 class="">Categorias: </h3>
        <br>
        <div class="row ">
            <div class="col d-flex justify-content-center">
                <a href="/usuario/categorias">
                    <button type="submit" class="btn btn-light">
                        <img src="Categorias.png"  style="width: 30%; height: auto;">
                        <h5>Categorias cadastradas</h5>
                    </button>
                </a>
            </div>
            <div class="col d-flex justify-content-center">
                <a href="/usuario/categorias/add">
                    <button type="submit" class="btn btn-light">
                        <img src="Novo_Categoria.png"  style="width: 30%; height: auto;">
                        <h5>Nova categoria</h5>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>