<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="jumbotron bg-light">
                <h1 class="display-4">Bem-vindo ao <img src="favicon.png"><b class="text-success font-weight-bold">Cadstabs</b></h1>
                <p class="lead">Sistema de cadastro de estabelecimentos.<br>(Este é um projeto-desafio no qual armazena dados em um banco de dados NoSQL) </p>
                <hr class="my-4">
                <p>Tecnologias e Frameworks utilizados: </p>
                <div class="row">
                    <div class="col-lg ">
                        <ul>
                            <a href="https://nodejs.org/en/"><li class="text-black-50">Node.JS</li></a>
                            <a href="https://getbootstrap.com/"><li class="text-black-50">Bootstrap</li></a>
                            <a href="https://expressjs.com"><li class="text-black-50">Express</li></a>
                            <a href="https://www.npmjs.com/package/express-session"><li class="text-black-50">express-session</li></a>
                            <a href="https://www.mongodb.com/"><li class="text-black-50">MongoDB & MongoDB Atlas</li></a>
                            <a href="https://mongoosejs.com/"><li class="text-black-50">Mongoose</li></a>
                        </ul>
                    </div>
                    <div class="col-lg">
                        <ul>
                            <a href="https://handlebarsjs.com/"><li class="text-black-50">Handlebars</li></a>
                            <a href="https://www.npmjs.com/package/body-parser"><li class="text-black-50">body-parser</li></a>
                            <a href="https://www.npmjs.com/package/connect-flash"><li class="text-black-50">connect-flash</li></a>
                            <a href="https://www.npmjs.com/package/passport"><li class="text-black-50">Passport</li></a>
                            <a href="https://www.npmjs.com/package/bcrypt"><li class="text-black-50">bcrypt</li></a>
                            <a href="https://www.npmjs.com/package/bcrypt"><li class="text-black-50">serve-favicon</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-white">
                <div class="card-body bg-white">
                    <form action="/usuario/login" method="post">
                        <label for="email">Email: </label>
                        <input type="email" class="form-control" name="email" required>
                        <label for="senha">Senha: </label>
                        <input type="password" class="form-control" name="senha" required><br>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-success" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



